/* .background {
    background-image: url("../images/annie-spratt-unsplash-nobg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width: 50%;
} */

.main {
    margin-top: 3em;
}